#myCanvas {
  position: absolute;
  margin: auto;
  right: 0px;
  left: 0px;
  top: -325px;
  z-index: -1000;

  width: 98.75549048316252%;
  height: 900px;

  background: transparent;
  opacity: 0.7;
}

*{margin:0;padding:0;}body{background:#fff;}
canvas{
  position:absolute;
  /*border:5px solid rgba(255,255,255,0.1);
  //box-shadow:inset 0 0 100px #4162a9;*/
  transform:translateZ(0);
}

body {
  min-height: 1000px;
  background-image: url('zen.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

#interview {
  background-image: url('larrypage.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  cursor: default;
  height: 400px;
}

#content {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 275px;
  width: 70%;
}

#container {
  margin:auto;
  width: 100%;

  font-family: Verdana;
  font-weight: 400;
  color: #fafafa;
  font-size: 32px;
  text-align: center;
}

.part {
  color: #555;
  cursor: pointer;
  text-align: left;
  width: 95.607%;
  background: #F5F5F5;
  border-radius: 3px;
  padding: 15px;
  font-family: Georgia;
  font-size: 17pt;
  font-weight: 400;
  margin-top: 25px;
  line-height: 150%;
}

.part:last-child {
  margin-bottom: 20px;
}

.a {
  margin-top: 20px;
  font-style: italic;
}

.subject {
  font-weight: 700;
}

.arrow {
  font-size: 20px;
}
